dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
.DS_Store?
Thumbs.db

# Storybook
storybook-static/
*storybook.log

# envars
.env.*
!.env.example
compose.env*
!compose.env.example

# Miscellaneous
cloudflare-env.d.ts
worker-configuration.d.ts
